/*/*body {
	background-color: #ced;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;

}

h1, h2, p{
	margin-bottom: 20px;

}

p:last-child{
	margin-bottom: 0;
}

h1, h2{
	font-family: 'Georgia', Times, Times new Roman, serif;
	font-weight: 700;
	color:#4aaaa5;
}

h1{
	font-size: 30px;
	line-height: 40px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;

}

h2{
	font-size: 18px;
}
#header{
	margin: 0 0 30px;
	z-index: 99;
	color:#fff;
	overflow: hidden;
	background: #fff;
	border-bottom: 2px solid #ccc;
	width: 100%;
}

.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear:both;

}

#logo{
	width:250px;
	margin:0 ;
	background:#4aaaa5;
	float:left;
	font-family: 'Georgia', Times New Roman, serif;
	text-align: center;
	line-height: 100%;
	color:#fff;
	font-weight: 500;
	font-size: 30px;

}

nav{
	float: right;
	margin-top: 20px;
}

nav a{
	color: #999;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left:15px;
	line-height: 18px;
	text-decoration: none;

}

nav a:first-child {
	border-left: 0 none;
}

.main{
padding-top: 100px;
position: relative;
margin-left: 80px;


}

#about{
	background: #fff;
	padding:30px;
	margin: 0 0 40px 0;
	width:100%;
	max-width: 650px;
	float:left;
	border:1px solid #ddd;

}

#photo{
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

/*social soup box*/
.connect{
	background: #fff;
	padding: 15px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin: 0 80px 20px 50px;

}


.connect, h2{
	border-bottom: 2px solid #eee;
}
.social{
	width: 50px;
	height: 60px;
	margin: 8px 5px 0px ;
	


}

.social:last-child {
	margin-right:0; 
}


/*individual social icons*/

.link{
	width: 50px;
	height:40px;
	position: center;

}





.foliopic{
width: 200px;
height: 150px;
clear: all;
float:left;
margin: 20px 25px;

}

.foliopic h2{
	border-bottom: 0;
	background: #4aaaa5;
	color:#fff; 
	text-align: center;
	position: static;
	bottom: 30px;
	padding-top: 0px;
	width: 100%;
	line-height: 15px;
	margin-bottom: 10px;
	font-weight: 300;
}

.port_img{
width:100%;
border:0 none;
opacity: .8;
height:100%;
margin-top: 10px;
float: left;
margin-right: 25px;

}

#contact-form ul{
		
margin-bottom: 20px;
}

#contact-form li{
	margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea{
	height: 35px;
	width: 450px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}

textarea{

	height: 200px;
	margin-left: 12px;
}

input[type=submit] {
		background: #4aaaa5;
		border:0 none;
		color: #fff;
		font-size: 18px;
		padding: 10px 30px;
		cursor: pointer;

}


#footer{
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 2px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
}

/*--------------media queries------------------*/

@media screen and (max-width:980px;) {
body{width: 100%;

	/*checking if the site is responsive*/
	background-color: red; 
}

#about{

width: 40%;
padding:20px;
flex-wrap:wrap;

}
.connect{
	width:30%;
	display: inline;

	}
}


@media screen and (min-width: 641px;) and (max-width:768px; ) {
	
	#about{
		width:80%;
		vertical-align: center;
	}

	.connect{
		width: 80%;
		clear:all;
		vertical-align: center;
	}

	
}

@media screen and (max-width:640px;) {



}